.ComponentCard {
  margin-top: -30px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  max-width: 100%;
  min-height: 428px;
  max-height: 528px;
  padding: 8px;
  box-sizing: border-box;
  margin: 10px;
  transition: transform 0.2s ease-in-out;
}

.ComponentCard:hover {
  transform: scale(1.03);
}

.ComponentCardImage {
  width: 100%;
  max-height: 210px;
  border-radius: 5px;
  object-fit: cover;
}

.ComponentCardImage img {
  width: 100%;
  height: 210px;
  border-radius: 5px;
  object-fit: cover;
}

.ComponentCardHeader {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 10px;
  margin-bottom: 4px;
  width: 100%;
}
.ComponentCardHeader h1 {
  text-align: start;
}

.ratingDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  height: 25px;
  border-radius: 2px;
  margin: 2px;
  color: #292929;
  background-color: hsla(0, 86%, 19%, 0.078);
  padding: 2px 5px;
}
.ratingDiv h4 {
  font-size: 1rem;
  margin: 0;
  margin-left: 6px;
}

.ComponentCardInfo {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 0px;
  margin-bottom: 10px;
  height: fit-content;
}
.ComponentCardInfo h1 {
  font-size: 1.3rem;
  font-weight: 700;
  margin: 0;
  color: #333;
}

.ComponentCardLocation {
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  background-color: #f0f0f0;
  border-radius: 5px;
  padding: 5px 10px;
  margin-top: 0px;
  margin-bottom: 10px;
  width: fit-content;
}

.locationIcon {
  margin-right: 5px;
}

.ComponentCardPrice {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 10px 0;
}

.spanPerDay {
  font-size: 1rem;
  font-weight: 400;
  color: #666;
}

.ComponentCardDesc {
  font-size: 0.9rem;
  color: #666;
  margin-bottom: 20px;
  text-align: start;
}

.pricesDish {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0;
}
.guestsandrooms {
  display: flex;
  width: 100%;
  justify-content:flex-start;
  align-items: center;
  margin: -10px 0;
  color: cadetblue;
}

.guestsandrooms span {
  color: cadetblue;
  margin-right: 15px;
}
.veg {
  color: darkolivegreen;
}

.nonveg {
  color: darkred;
}

@media screen and (max-width: 900px) and (min-width: 480px) {
  .ComponentCard {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 5px;
    margin: 10px 10px;
    min-height: 230px;
    max-height: 230px;
  }

  .ComponentCardInfo {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 20px;
    height: fit-content;
  }

  .ComponentCardImage img {
    margin: 5px;
  }

  .ComponentCardInfo h1 {
    font-size: 1.3rem;
    text-align: start;
    margin-right: 10px;
  }

  .ComponentCardPrice {
    font-size: 1.2rem;
  }

  .ComponentCardDesc {
    font-size: 0.9rem;
  }
}

@media (max-width: 480px) {
  .ComponentCard {
    max-width: 300px;
    padding: 8px;
    margin-top: 20px;
    min-height: 378px;
    max-height: 408px;
  }

  .ComponentCardImage img {
    height: 180px;
  }

  .cardList {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .ComponentCardInfo h1 {
    font-size: 1.1rem;
  }

  .ComponentCardPrice {
    font-size: 1rem;
  }

  .ComponentCardLocation {
    font-size: 0.8rem;
  }

  .ComponentCardDesc {
    font-size: 0.8rem;
  }

  .veg,
  .nonveg {
    display: flex;
    flex-direction: column;
  }
}
