.heroplan {
   padding-top: 60px;
 }
 
 .heroBgm {
   height: 100vh;
   width: 100%;
   opacity: 0.85;
   position: relative;
   background-position: center;
   filter: brightness(0.75);
   margin-top: -60px;
 }
 
 .heroBgm img {
   width: 100%;
   height: 100%;
   object-fit: cover;
   z-index: -10000;
   filter: blur(1.35px);
 }
 
 .heroInput {
   font-size: 1.2rem;
   position: absolute;
   background: white;
   height: 200px;
   width: 100%;
   max-width: 1000px;
   border-radius: 10px;
   top: 45%;
   left: 50%;
   transform: translate(-50%, -50%);
   font-weight: 700;
   color: hsl(0, 87%, 25%);
   z-index: 10;
   font-family: 'SUSE', sans-serif;
   box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
   display: flex;
   flex-direction: column;
   padding: 20px;
 }
 
 .heroTitle {
   font-size: 1.5rem;
   font-weight: 200;
   color: hsl(0, 87%, 25%);
   margin-top: 20px;
   margin-bottom: 40px;
   font-family: 'SUSE', sans-serif;
 }
 
 .heroText {
   font-size: 1.2rem;
   font-weight: 400;
   color: hsl(0, 87%, 25%);
   margin: 10px;
   font-family: 'SUSE', sans-serif;
 }
 
 .heroInputDiv {
   display: flex;
   width: 92%;
   align-self: center;
   align-items: center;
   flex-direction: row;
   border: 0.7px solid hsla(0, 87%, 25%, 0.405);
   border-radius: 7px;
 }
 
 .peopleAndRoomDiv,
 .dateSelectorDiv,
 .dropDownDiv {
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
 }
 
 .peopleAndRoomDiv {
   width: 80%;
 }
 
 .dateSelectorDiv {
   width: 100%;
 }
 
 .dropDownDiv {
   width: 75%;
   border-right: 0.7px solid hsla(0, 87%, 25%, 0.405);
 }

 .buttonSearchResort{
    background-color: hsl(0, 87%, 15%);
    color: white;
    width: fit-content;
    align-self: center;
    font-size: 1.2rem;
    font-weight: 400;
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    margin-top: 20px;
    position: relative;
    bottom: -20px;
    transition: 0.3s;
 }
 
 @media screen and (max-width:875px) {
   .heroBgm{
      margin-top: -60px;
      height: 100vh;
   }   
   .heroBgm img{
    margin: 0px;
      height: 100%;
   }
 }
 /* Medium screen responsiveness (tablets) */
 @media screen and (max-width: 1180px) and (min-width: 680px) {
  .heroBgm{
    height: 100vh;
    margin-top: -60px;
  }
  .heroBgm img{
    margin: 0px;
      height: 100%;
   }

   .p-calendar, #guests{
      border-right: none;
   }
   .heroInput {
      max-width: 600px;
      height: auto;
      top: 45%;
      padding-bottom: 0px;
    }
  
    .heroTitle {
      font-size: 1.3rem;
      margin-bottom: 20px;
    }
  
    .heroInputDiv {
      flex-direction: column;
      width: 100%;
      gap: 10px;
      height: 175px;
    }
  
    .dropDownDiv,
    .dateSelectorDiv,
    .peopleAndRoomDiv {
      width: 100%;
      border: none;
    }
 }
 
 /* Small screen responsiveness (phones) */
 @media screen and (max-width: 680px) {
  .heroBgm{
    height: 100vh;
  }
   .heroInput {
     max-width: 300px;
     padding: 15px;
     height: auto;
     top: 45%;
     padding-bottom: 0px;
   }
 
   .heroTitle {
     font-size: 1.3rem;
     margin-bottom: 20px;
   }
 
   .heroInputDiv {
     flex-direction: column;
     width: 100%;
     gap: 10px;
     height: 175px;
   }
 
   .dropDownDiv,
   .dateSelectorDiv,
   .peopleAndRoomDiv {
     width: 100%;
     border: none;
   }
   
 }
