.filterPage {
  margin-left: 20px;
  margin-right: 20px;
  width: 200px;
  position: relative;
  left: 0px;

}

.filterComponent {
  position: fixed;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 5px;
  height: 75%;
}

.filterToggleButton {
  display: block;
  background-color: #007bff;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.filterToggleButton:hover {
  background-color: #0056b3;
}

.filterForm {
  display: flex;
  flex-direction: column;
}

.filterDropdown,
.filterDropdownSort,
.calendarWrapper {
  margin-bottom: 15px;
}

/* Mobile Specific Styles */
@media (max-width: 368px) {
  .filterPage{
    display: flex;
    justify-content: center;
    z-index: 1;
    height: 80%;
    width: 300px;
  }
  .filterComponent {
    padding: 10px;
    height: 80%;
    width: 62%;
  }

  .filterForm {
    flex-direction: column;
  }

  .filterToggleButton {
    width: 100%;
  }
}
