.filterPage {
  margin-top: 0px;
  padding-left: 10px;
  padding-right: 10px;
  width: auto;
  position: relative;
  background-color: transparent;
  left: 0px;
}

.filterComponent {
  position: fixed;
  padding: 10px;
  margin-top: 80px;
  border-radius: 5px;
  height: 75%;
  background-color: transparent;
  max-width: 200px;
  width: 100%;
}

.filterToggleButton {
  position: absolute;
  top: 0;
  height: fit-content;
  width: fit-content;
  background-color: hsl(0, 87%, 15%);
  color: white;
  padding: 10px;
  padding-bottom: 8px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  z-index: 1;
}

.filterToggleButton:hover {
  background-color: hsl(0, 86%, 19%);
}

.filterForm {
  display: flex;
  flex-direction: column;
  background-color: transparent;
}

.filterDropdown,
.ratingSort,
.filterDropdownSort,
.calendarWrapper {
  margin-bottom: 15px;
  width: 100%;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
.filterDropdown .p-dropdown,
.ratingSort .p-dropdown,
.filterDropdownSort .p-dropdown,
.calendarWrapper .p-inputtext {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: hsla(0, 87%, 15%, 0.028);
  border: none;
  color: hsl(0, 87%, 15%);
  padding: 10px;
}

.filterDropdown .p-component .p-dropdown-items-wrapper .p-dropdown-panel li{
  background-color: black;
}

.filterDropdown .p-placeholder,
.ratingSort .p-placeholder,
.filterDropdownSort .p-placeholder,
.calendarWrapper .p-inputtext {
  font-size: 1rem;
  text-align: center;
}

.filterDropdown span,
.ratingSort span,
.calendarWrapper span,
.filterDropdownSort span {
  font-size: 1rem;
}

.filterDropdown span:hover,
.ratingSort span:hover,
.calendarWrapper span:hover,
.filterDropdownSort span:hover {
  background-color: transparent;
}

.calendarWrapper .p-calendar {
  border: none;
}

.filterButtons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.filterButtons button {
  font-weight: 400;
  background-color: hsla(0, 87%, 15%, 0.843);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  color: hsl(0, 0%, 100%);
  padding: 8px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.filterButtons button:hover {
  background-color: hsl(0, 87%, 15%);
}

.p-dropdown-panel li {
  padding: 10px;
  border-bottom: 1px solid hsla(0, 87%, 15%, 0.229);
  color: hsl(0, 87%, 15%);
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
}

@media screen and (max-width: 900px) and (min-width: 620px) {
  .filterComponent {
    margin-top: 0px;
    width: 100%;
  }
}

@media screen and (max-width: 620px) {
  .filterButtons {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .filterComponent {
    background: white;
    padding: 20px;
    height: 100vh;
    min-width: 93%;
    position: absolute;
    top: -30px;
    z-index: 1000;
  }
  .filterPage {
    display: flex;
    justify-content: center;
    width: 95%;
  }
  .filterToggleButton{
    right: 20px;
    top: 60px;
  }
  .filterToggleButton:hover {
    background-color: hsla(0, 86%, 23%, 0.842);
  }
}

@media (max-width: 368px) {
  .filterPage {
    display: flex;
    justify-content: center;
    margin-top: 0px;
    height: 80%;
    width: 100%;
  }
  .filterComponent {
    padding: 1px;
    height: 100%;
    width: 100%;
  }

  .filterForm {
    flex-direction: column;
  }

  .filterToggleButton {
    width: fit-content;
  }
}
