
.calendar{
     display: flex;
     flex-direction: row;
     height: 100%;
     width: 100%;
}

.p-calendar:hover{
    background-color: hsla(0, 86%, 19%, 0.025);
}

.calendar .p-inputtext{
     padding-left: 10px;
     outline: none;
     padding-right: 2px;
     border: none;
     font-size: 1.15rem;
     font-family: 'SUSE', sans-serif;
     font-weight: 500;
}

.p-datepicker-trigger{
     padding: 10px;
     border: none;
     background-color: transparent;
}

.p-calendar{
     display: flex;
     flex-direction: row;
     margin: 0px 0px;
     border-right: 0.7px solid hsla(0, 87%, 25%, 0.405);
}

.p-datepicker-calendar{
     color: aqua;
     color: hsl(0, 87%, 15%);
     padding: 20px;
     border-radius: 5px;
}

.p-datepicker , .p-datepicker-monthpicker{
     box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
     background-color: hsla(0, 0%, 100%, 0.814);
     border-radius: 5px;
     padding: 10px;
     max-width: 240.195px;
}

.p-yearpicker span, .p-monthpicker span{
     padding: 5px;
}

tbody span, thead span{
     padding: 5px;
}

tbody span{
     cursor: pointer;
}

tbody span:hover{
     background-color: hsla(0, 86%, 19%, 0.078);
     border-radius: 4px;
}

.c1 .p-datepicker-today{
     background-color: hsla(0, 86%, 19%, 0.246);
     border-radius: 4px;
}

.p-datepicker-header{
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     align-items: center;
     padding: 10px;
}

.p-datepicker-title button{
     font-weight: 900;
     padding: 5px;
}

.p-datepicker-prev, .p-datepicker-next{
     padding: 10px;
     border: none;
     background-color: transparent;
     border-radius: 5px;
}

.p-disabled{
     color: hsl(0, 0%, 75%);
}

.p-datepicker-selected{
     background-color: hsla(0, 86%, 19%, 0.246);
     border-radius: 4px;
}

.calendar .p-inputtext.has-value {
     font-weight: bold;
 }

.p-highlight{
     background-color: hsla(0, 86%, 19%, 0.246);
     border-radius: 4px;
     font-weight: 900;
}

@media screen and (max-width: 1180px) {
     .p-calendar{
          width: 100%;
        border-right: none;

     }}